/* Home.css */
.home {
    height: calc(100vh - 60px); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white; 
    text-align: center; 
}

.hand-image {
    margin-top: 20px;
    width: 400px; 
    height: auto; 
    max-width: 100%; 
}
