/* principal.css */
.principal {
  
  flex: 1; /* Permite que este elemento crezca para llenar el espacio disponible */
  padding: 20px; /* Espaciado interno */
  background: transparent; /* Mantener transparente para que el fondo de Home sea visible */
  overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
}
